[SddmGreeterTheme]
Name=Gruvbox
Description=Gruvbox Theme
Description[ast]=Tema Gruvbox
Description[bs]=Gruvbox Tema
Description[ca]=Tema Gruvbox
Description[ca@valencia]=Tema Gruvbox
Description[cs]=Motiv Gruvbox
Description[da]=Gruvbox-temaet
Description[de]=Gruvbox-Design
Description[el]=Θέμα Gruvbox
Description[en_GB]=Gruvbox Theme
Description[es]=Tema Gruvbox
Description[et]=Gruvbox teema
Description[fi]=Gruvbox-teema
Description[fr]=Thème Gruvbox
Description[gl]=Tema Gruvbox
Description[he]=ערכת הנושא Gruvbox
Description[hu]=Gruvbox téma
Description[id]=Tema Gruvbox
Description[is]=Gruvbox þema
Description[it]=Tema Gruvbox
Description[ja]=Gruvbox テーマ
Description[ko]=Gruvbox 테마
Description[lt]=Gruvbox apipavidalinimas
Description[nb]=Gruvbox-tema
Description[nds]=Gruvbox-Muster
Description[nl]=Thema Gruvbox
Description[nn]=Gruvbox-tema
Description[pl]=Wystrój Gruvbox
Description[pt]=Tema Gruvbox
Description[pt_BR]=Tema Gruvbox
Description[ru]=Тема «Gruvbox»
Description[sr@latin]=Tema Gruvbox
Description[sv]=Gruvbox-tema
Description[tr]=Gruvbox Teması
Description[uk]=Тема «Gruvbox»
Author=Torgny Bjers, David Edmundson, David Linares, Ramon Buldó, Bogdan Covaciu
Copyright=(c) 2019, Manjaro, (c) 2021, Torgny Bjers
License=CC-BY-SA
Type=sddm-theme
Version=0.2.0
Website=https://torgnybjers.com
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=Gruvbox
Theme-API=2.0
